<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>purview</title>

<link rel="icon" href="/static/favicon.png">
<style>
@import url("/static/style.css");
</style>

<h1>purview home page</h1>

<h2>21.1.MDDN242</h2>
        <a href="/assignment/22.1.mddn242.ps1.html">Assignment 1: Clocks</a>
        <a href="/forks/9374a9f850dd38c4f0436083f04a5664.html">(forks)</a><p>

<h2>21.1.MDDN342</h2>
        <a href="/assignment/21.2.mddn342.ps1.html">Assignment 1: Random Faces</a>
        <a href="/forks/c5686e7fd79e3e81dce5dc509e593a18.html">(forks)</a><p>

        <a href="/assignment/21.2.mddn342.ps2.html">Assignment 2: Parameterised Space</a>
        <a href="/forks/fe5be76a0bb46fec411c9a40413b0428.html">(forks)</a><p>

        <a href="/assignment/21.2.mddn342.ps3.html">Assignment 3: Data Mappings</a>
        <a href="/forks/44592b8924597fb9f9318c2a32d76405.html">(forks)</a><p>


