<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=1000">
<title>purview</title>

<link rel="icon" href="/static/favicon.png">
<style>
@import url("/static/style.css");
</style>

<h1>purview home page</h1>

<h2>21.1.MDDN242</h2>
        <a href="/assignment/21.1.mddn242.ps1.html">Assignment 1: Clocks</a>
        <a href="/forks/26e7498514032ea5b016dc3dd27b1488.html">(forks)</a><p>

        Assignment 2: Alphabet</a>
        <a href="/forks/f230e88655274403fe6f6ed0a4372907.html">(forks)</a>
        <hr>


